.com{
margin: 0;
padding: 0;
}

.companyreviews{
  margin-top: 0%;
  padding-top: 0%;
  height: 160vh;
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
}


.companyre{
  margin-top: 0%;
  justify-content: center;
  padding-left: 15px;
}


.companyre p{
width: 25%;
}

.companyreA{
  margin-top: 0px;
}
/* 
.companyreA h4{
  width: 40%;
} */

.comA h1{
  padding-left: 10px;
  /* margin-top: 0px; */
  /* padding-top: 5px; */
}

.comA img{
  margin-top: 10px;
  width: 110px;
}

.dispal{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 0px;
  padding: 0px;
  gap: 58px;
  /* background-color: aqua; */
}

.dispalchideA{
  flex-wrap: wrap;
  gap: 0px;
  width: 45%;
}

.dispalchideA{
  padding-left: 10px;
  padding-right: 10px;
}

/* .dispal marquee{
  background-color: rgb(99, 99, 236);
  color: white;
} */

.dispal img{
 filter: brightness(40%);
 width: 100%;
 border-radius: 2px;
 box-shadow: 4px 4px 5px rgb(30, 30, 31);
}

.formdad{
  margin-left: 20px;
  margin-left: 20px;
}

.reviews p{
  text-decoration: underline;
}

.formdad p{
  width: 50%;
}



.formdad button{
 box-shadow: 1px 1px 1px 2px rgba(19, 19, 253, 0.2), inset 0 0 5px rgba(10, 26, 143, 0.22) ;
 margin-left: 5px;
}

.formm img{
  width: 2%;
  margin-left: 15px;
}


.formm p{
 text-align: center;
 width: 100%;
}


.feter p{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 3vh;
}



/* table phone*/

@media (max-width: 977.33px) {
  .companyreviews{
  margin-top: 0%;
  padding-top: 0%;
  height: 240vh;
  }
}

@media (max-width: 830px) {
  .companyreviews{
  margin-top: 0%;
  padding-top: 0%;
  height: 250vh;
  }
}

@media (max-width: 780px) {
  .companyreviews{
  margin-top: 0%;
  padding-top: 0%;
  height: 260vh;
  }
}

@media (max-width: 769px) {
  .companyreviews{
  margin-top: 0%;
  padding-top: 0%;
  height: 220vh;
  }
}
@media (max-width: 768px) {
  .companyre p{
  width:100%;
  }
  
    .dispalchideA{
  width: 120%;
   }

   .dispal{
  gap: 5px;
  }
  
  .formdad{
    margin-top: 20px;
  }

}



@media (max-width: 600px) {

  .companyre h1{
  padding-top: 2vh;
}
  .companyre p{
  width:90%;
  }

  .dispalchideA{
  width: 90%;
   }

   .dispal{
  gap: 5px;
  }

  .dispal img{
 filter: brightness(45%);
 box-shadow: 4px 4px 5px rgb(30, 30, 31);
 border-radius: 2px;
  }

  .formm label{
    size: 2px;
  }
  
  .formdad{
 margin-top: 0px;
}
  .formdad label{
    flex-wrap: nowrap;
    font-size: 15px;
    
  }

  .formdad img{
   margin: 4px;
   padding: 0px;
}

.formdad input{
  margin-top: 15px;
}

.formdad p{
  text-align: center;
  width:90%;
  margin-left: 10px;
  margin-right: 10px;
}

.formm img{
  width: 3%;
  margin-left: 15px;
}
}


@media (max-width: 622px) {

  .companyreviews{
    height: 230vh;
  }

  .companyre h1{
    text-align: start;
    text-decoration: underline;
    padding-left: 0px;
    font-size: 22px;
  }

  .companyre p{
    text-align: start;
    width: 95%;
    padding-left: 0px;
  }

  .comA img{
    width: 15%;
    margin-left: 0%;
  }

  .formdad{
   margin-left: 3%;
  }

  .formdad .formm input{
    margin-left: 3%;
  }

  .formdad .pricesss{
    gap: 0%;
    width: 95%;
  }

  .formdad .pricesss p{
   margin-top: 5vh;
   text-align: start;
  }

  .formm{
    margin-left: 0%;
  }

  .formm img{
  margin-top: 0px;
  width: 8%;
  margin-left: 15px;
  margin-bottom: 0%;
}

.reviews p{
  text-decoration: underline;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  width:50% ;
}

.dispalchideA{
  text-align: start;
  font-family: none;
  padding-left: 0%;
  margin-left: 0%;
  width: 98%;
}

.comA img{
  margin-top: 30px;
  width: 50px;
padding-left:10px;
margin-bottom: 0px;
}

.feter{
  margin-top: 4vh;
}

}



