.form{
 margin-left: 2%;
}


.form h3{
 text-decoration: underline;
}

.form-mom h3{
 text-decoration: underline;
 text-align: center;
 margin-left: 13%;
 margin-bottom: 0%;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-mom p{
 text-decoration: underline;
 text-align: start;
 width: 25%;
}

.save h5{
 text-decoration: underline;
 margin-bottom: 0%;
 padding-bottom: 0%;
 }

 .save img{
  width: 15%;
  margin: 0%;
  padding: 0%;
 }

 .display{
  display: flex;
 }

 /* .formone{
    width: 22%;
 } */

 .formtwo{
  /* background-image: url(../assets/nowll.jpg); */
  background-position: center;
  margin-top: 15vh;
  margin-left: 10%;
  filter: brightness(35%);
  width: 45%;
  border-radius: 2px;
  color: white;
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
  text-align: center;
  height: 55vh;
  /* place-items: center; */
 }

 .formtwo p{
    padding-top: 10vh;
    text-align: center;
    font-size: 13px;
    width: 85%;
    padding-left: 8%;
    color: black;
 }

 .formtwo h4{
   padding-top: 5%;
  font-family: none;
   color: black;
 }

 
/* ✅ FIXED — shift inputs to the left */
.form input {
height:3vh;
margin-left:0%;   /* ← adjust this number to move more/less left */
}

.imgtela{
   margin-left: 5%;
}


.form select{
margin-left:0%;
width: 103%;
/* height: 100vh; */
}

.form textarea{
   margin-top: 0%;
}


 .inputA input{margin-bottom:3px; margin-top:1%; width: 100%;height: 4vh; }
.inputB input{margin-bottom:3px; margin-top: 1%; width: 100%; height: 4vh;}
.inputC input{margin-bottom:3px; margin-top: 1%; width: 100%; height: 4vh;}
.inputD select{margin-bottom:3px; margin-top: 1%; padding-bottom: 1%; height: 4vh;}
.inputE input{margin-bottom:3px; margin-top: 1%; width: 100%; height: 4vh;}
.inputF input{margin-bottom:2%; margin-top: 1%; width: 100%; height: 4vh;}


.imgtela img{
   margin-top: 0%;
   width: 100px;
}

.Bycompleting img{
   margin-top:2%;
}


.havingtt h4{
   text-align: center;
   width:85%;
   padding-left:15%;
   font-family: inherit;
   text-decoration: underline;
   /* background-color: aqua; */
}

.ussdt img{
   margin-top: 15vh;
   padding-top: 8vh;
   /* width: 40%; */
   border-radius: 50%;
}

.marquee marquee{
   text-decoration: underline;
   font-family:inherit;
   font-size: 13px;
}
@media (max-width: 812px) {
  
  .formtwo p{
    padding-top: 5vh;
    text-align: center;
    font-size: 13px;
    width: 85%;
    padding-left: 7%;
    color: white;
    overflow: hidden;
 }

 .formtwo h4{
   font-size: 14px;
 }

}


@media (max-width: 700px) {
  
  .formtwo p{
    padding-top: 2vh;
    text-align: center;
    font-size: 13px;
    width: 85%;
    padding-left: 7%;
    color: white;
    overflow: hidden;
 }
}

@media (max-width: 667px) {
  
  .formtwo p{
    padding-top: 0vh;
    text-align: center;
    font-size: 12px;
    width: 85%;
    padding-left: 7%;
    color: white;
    overflow: hidden;
 }
}

@media (max-width: 563px) {
 .he
.Header{
   text-align: start;
   margin-left: 4%;
}

.Header button{
   /* position: fixed; */
   display: flex;
   color: white;
   background-color: white;
   width: 0%;
   border: none;
   margin: 0%;
   padding: 0%;
   position: fixed;
}
  .form-mom {
   /* padding-top: 2vh; */
   width: 100%;
   margin: 0%;
   padding: 0%;
  }

  .form-mom h3{
 text-decoration: none;
 text-align: start;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 margin-left:15%;
 font-size: 19px;
 margin-top: 0%;
 padding-top: 0%;
 /* padding-top: 2vh; */
}

.form-mom p{
 text-decoration:none;
 text-align: start;
 font-size: 18px;
 font-family: 'Times New Roman', Times, serif;
 padding-left:5%;
 padding-top:1vh;
 width:95%;
}


.save{
   padding-left: 65%;
   margin: 0%;
}

.save img{
   width: 20%;
}

.display{
   display: grid;
}

.form input {
height:3vh;
width:89%;
border: 1px solid black;
margin-left:0%;   /* ← adjust this number to move more/less left */
}

.form select{
margin-left:0%;
border: 1px solid black;
width:90%;
}

.form textarea{
margin-top: 0%;
border: 1px solid black;
}

.formone{
   margin-left: 5%;
   margin-top: 0%;
}

.formtwo {
   margin-top: 5%;
   width: 90%;
   margin-left: 5%;
   height: 48vh;
}

.formtwo h4{
   font-size: 19px;
   padding-left:5%;
   padding-right:5%;
   color: black;
   text-decoration: underline;
}
 .formtwo p{
    padding-top: 0vh;
    margin-top: 0vh;
    text-align: center;
    width:92%;
    font-size: 22px;
    padding-left:3%;
    color: black;
    gap: 0%;
 }

 .imgtela img{
   margin-top: 2vh;
   width: 11%;
 }

.ussdt img{
   /* margin-top: 5vh; */
   padding-left: 0%;
   padding-top: 1vh;
   /* margin: 0%; */
   margin-bottom: 5%;
   margin-left: 25%;
   width: 45%;
   border-radius: 60%;
   border: white;
}

.Bycompleting{
   margin-top: 0%;
   padding-top: 0%;
}

.Bycompleting .w-8{
  width: 10%;
  margin-top: 0%;
}


.havingtt h4{
   text-align: center;
   width:100%;
   padding-left:0%;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-decoration: none;
   font-size:17px;
   text-decoration: underline;
}

.mt-1 {
 text-decoration: none;
 font-size: 13px;

}


.w-8{
  position:absolute;
   width:180%;
   gap: 5%;
   text-align: end;
   justify-content: end;
   /* margin-left: 210%; */
   padding-left:80%;
   margin-top: 0%;
   padding-top: 0%;
   display: flex;
   /* position: fixed; */ 
}

.marquee marquee{
   text-decoration: solid;
   font-size: 18px;
}
}