/* Remove margins */
.vehicles {
    margin: 0;
    padding: 0;
}



/* Container */
.Vehicc{
    display: flex;
    align-items: center;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
    margin-top: 8px;
    /* Smooth fade when image changes */
    transition: background-image 1s ease-in-out;
    box-shadow: 4px 4px 5px rgb(30, 30, 31);
    object-fit: cover;
    /* filter: brightness(99%); */
    z-index: -1;
    /* filter: brightness(95%); */
}

  

/* Left image */
.hero-icon {
    margin-top: 40px;
    width: 150px;
}
 
/* Text section */
.Vehictex {
    margin-left: 20px;
    color: white; /* white text works best on slideshow imgs */
}

.Vehictexx h1 {
    margin-top: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
}

.Vehictexx p{
  color: white;
  font-size: 21px;
}


/* Buttons */
.bt {
    margin-right: 10px;
    padding: 10px 20px;
    border: none; 
    background-color: transparent;
    color: white;
    font-size: 15px; 
    cursor: pointer;
    border-radius: 4px; 
    border: 2px solid white;

}

.btn.secondary {
    background-color: transparent;
    border: 2px solid white;
    
}




/* GLOBAL */
.homee body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Inter", "Segoe UI", sans-serif;
  color: #111;
  margin-bottom: 1vh;
  background-color: #656363;
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
}

/* LAYOUT */
.home {
  width: 100%;
  margin-bottom: 2vh;
  margin-top: 0%;
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
}


.holdee{
    box-shadow: 4px 4px 5px rgb(30, 30, 31);
    margin-bottom: 0%;
}

.mailclass{
  width: 95%;
  justify-content: end;
  margin-top: 1vh;
  padding-top: 2vh;
  margin-left: 0%;
  padding-left: 5%;
  display: flex;
}

.mailclass img{
  width:25%;
}

/* GRID */
.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 28px;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0Vh;
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
}

/* CARDS */
.cardd {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 32px;
  /* background: #fff; */
  background-color: transparent;
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
  padding-top: 1vh;
  margin-top: 2vh;
}

.cardd h2 {
  font-size: 1.4rem;
  margin-bottom: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardd p {
  color: #444;
  font-size: 0.95rem;
}

.cardd ul {
  margin: 20px 0;
  padding-left: 18px;
  color: #444;
  font-size: 0.9rem;
}

.cardd.highlight {
  border: 1px solid #000;
}




.viewsalaries h5{
  padding-left: 1%;
  padding-bottom: 1vh;
}


/* FOOTESZZAXR */
.footer p{
  text-align: center;
  padding: 30px 20px 50px;
  font-size: 0.85rem;
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
  color: #000;
  margin-top: 0%;
  margin-bottom: 1vh;
}



@media (max-width: 575px) {
.homee {
   box-shadow: 4px 4px 5px rgb(30, 30, 31);
}


.Vehicc{
  height: 50vh;
}

.Vehictexx h1 {
    margin-top: 40px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: none; */
    font-size: 28px;
    color: white;
}

.Vehictexx p{
  color: white;
  font-size: 22px;
}

.butto button{
  font-size: 13px;
  /* padding: 5%; */
  text-align: start;
  text-decoration: none;
}

.mailclass{
  /* margin-left: %; */
  margin-top: 2vh;
  justify-content: end;
  display: flex;
  padding: 0%;
  /* background-color: #2e263a; */
}

.mailclass img{
  width:20%;
  padding-left: 55%;
}

.holdee img{
padding-top: 1vh;
}

.holdee{
 box-shadow: 4px 4px 5px rgb(30, 30, 31);
}

.viewsalaries h5{
  font-size: 18px;
  /* color: #444; */
  padding-left: 5%;
  margin: 0%;
  padding-bottom:1vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.viewsalaries a{
  color: blue;
}

.main-grid{
  padding-top: 4%;
  margin-left: 0%;
  padding-left: 5%;
  margin-top: 2vh;
  justify-content: start;
}

.cardd{
  margin-left:0%;
  width: 85%;
}

.cardd h2{
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  text-decoration: solid;
}

.cardd p{
  font-size:20px;
  text-decoration: solid;
}

.cardd ul{
  font-size: 20px;
  width: 79%;
  /* background-color: tan; */
}

.footer p{
  font-size:16px;
  margin-left: 0%;
}
}
