.offer-page .offer-hero {
  text-align: center;
  margin-top: 8vh;
}


.offer-page .offer-hero h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offer-page .offer-hero-text p {
  width: 32%;
  margin: 0 auto;
}

.offer-page .offer-section-title h2 {
  text-align: center;
  margin-top: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offer-page .offer-about {
  margin-top: 4vh;
  display: flex;
}

.offer-page .offer-about-content {
  margin-left: 5%;
}

.offer-page .offer-card h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offer-page .offer-card p {
  width: 62%;
}

.offer-page .offer-image {
  margin-top: 0vh;
  width: 50%;
}

.offer-page .offer-image img {
  width: 55%;
  height: 45vh;
  filter: brightness(50%);
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
  margin-top: 5vh;
  margin-left: 11%;
}

.offer-page .offer-eligibility {
  margin-left: 5%;
  margin-top: 8vh;
}

.offer-page .offer-eligibility-grid {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offer-page .offer-eligibility h2 {
  font-size: 20px;
}

.offer-page .offer-eligibility p {
  width: 45%;
  text-decoration: underline;
}

.offer-page .offer-government h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 11%;
  width: 80%;
}

.offer-page .offer-government p {
  padding-left: 11%;
  width: 68%;
}

.offer-page .offer-form-section{
  margin-top: 5vh;
  margin-left: 5%;
}

.offer-page .offer-form-wrapper {
  display: flex;
}

.offer-page .offer-form input,
.offer-page .offer-form select {
  width: 15%;
}

.offer-page .offer-form {
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
  width: 45%;
}

.offer-page .offer-form form {
  margin-left: 2%;
}

.offer-page .offer-form h2 {
  font-size: 20px;
  margin-left: 2%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offer-page .offer-form p {
  margin-left: 2%;
  text-decoration: underline;
}

.offer-page .offer-form-image img {
  width: 11%;
  margin-top: 15vh;
  margin-left: 50%;
}

.offer-page .offer-submit-btn {
  margin-top: 10px;
}

.offer-page .offer-footer {
  font-size: 13px;
  text-align: center;
}

.offer-page .offer-form input {
  width: 42%;
  height: 4vh;
}

.offer-page .offer-form select {
  width: 43%;
  height: 5vh;
  color: rgb(123, 125, 128);
}

.offer-page .offer-form textarea {
  color: rgb(123, 125, 128);
}

.offer-page .offer-form button {
  display: grid;
  margin-bottom: 3vh;
}

.offer-page .offer-footer {
  margin-top: 5vh;
}





/* ------------------- Media Queries ------------------- */

@media (max-width: 1029px) {
  .offer-page .offer-image {
    margin-top: 2vh;
    width: 90%;
  }

  .offer-page .offer-image img {
    width: 75%;
    filter: brightness(50%);
    box-shadow: 4px 4px 5px rgb(30, 30, 31);
    margin-top: 5vh;
    margin-left: 11%;
  }

  .offer-page .offer-form {
    width: 95%;
  }

  .offer-page .offer-form-image img {
    width: 11%;
    margin-top: 18vh;
    margin-left: 50%;
  }
}

@media (max-width: 998px) {
  .offer-page .offer-form {
    width: 88%;
  }
}

@media (max-width: 950px) {
  .offer-page .offer-image {
    margin-top: 8vh;
    width: 100%;
  }

  .offer-page .offer-form {
    width: 85%;
  }
}

@media (max-width: 890px) {
  .offer-page .offer-image {
    margin-top: 8vh;
    width: 120%;
  }

  .offer-page .offer-form {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .offer-page .offer-image {
    margin-top: 8vh;
    width: 140%;
  }

  .offer-page .offer-form {
    width: 120%;
  }
}

@media (max-width: 760px) {
  .offer-page .offer-image {
    margin-top: 10vh;
    width: 160%;
  }
}

@media (max-width: 720px) {
  .offer-page .offer-image {
    margin-top: 10vh;
    width: 185%;
  }
}

@media (max-width: 575px) {
  .offer-page .offer-hero h1 {
    font-size: 23px;
    text-align: center;
    width: 50%;
    padding-left: 25%;
  }

  .offer-page .offer-hero-text p {
    width: 75%;
    margin: 0 auto;
    font-size: 21px;
    text-decoration: underline;
  }

  .offer-page .offer-about {
    margin-top: 2vh;
    display: grid;
    flex-wrap: wrap;
  }

  .offer-page .offer-card h3 {
    padding: 0%;
    font-size: 22px;
  }

  .offer-page .offer-card p {
    width: 95%;
    font-size: 22px;
  }

  .offer-page .offer-image {
    margin-top: 0vh;
    margin-left: 4%;
    width: 90%;
    box-shadow: 4px 4px 5px rgb(30, 30, 31);
  }

  .offer-page .offer-image img {
    width: 98%;
    height: 50vh;
    filter: brightness(70%);
    box-shadow: 4px 4px 5px rgb(30, 30, 31);
    margin-top: 1%;
    margin-left: 0%;
  }

  .offer-page .offer-eligibility {
    margin-left: 5%;
    margin-top: 3vh;
  }

  .offer-page .offer-eligibility-grid {
    display: grid;
  }

  .offer-page .offer-eligibility h2 {
    font-size: 24px;
  }

  .offer-page .offer-eligibility p {
    width: 100%;
    font-size: 22px;
    text-decoration: underline;
    text-align: start;
  }

  .offer-page .offer-government h2 {
    padding-left: 0%;
    width: 80%;
  }

  .offer-page .offer-government p {
    padding-left: 0%;
    width: 90%;
    text-decoration: underline;
  }

  .offer-page .offer-form-wrapper {
    display: grid;
    width:80%;
  }


  .offer-page .offer-form input,
  .offer-page .offer-form select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 17px;
    padding-left: 1%;
    width: 45%;
  }

  .offer-page .offer-form input {
    width: 85%;
    height: 4vh;
    display: grid;
    margin-top: 2%;
    border: 1px black solid;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
  }

  .offer-page .offer-form select {
    width:86%;
    height: 5vh;
    color: rgb(123, 125, 128);
    box-shadow: 4px 4px 5px rgb(30, 30, 31);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    border: 1px solid black;
    border: 1px black solid;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding-left: 0%;
  }

  .offer-page .offer-form textarea {
    color: rgb(123, 125, 128);
    width:85%;
    font-size: 16px;
    display: grid;
    margin-top: 2%;
    padding-top: 3%;
    padding-left: 1%;
    border: 1px black solid;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .offer-page .offer-form-image img {
    width: 15%;
    margin-top: 1vh;
    margin-left: 105%;
  }

  .offer-page .offer-footer {
    width: 95%;
    margin-top: 3vh;
    font-size: 17px;
    padding-left: 4%;
    text-decoration: underline;
  }
}
