/* ROOT SCOPE */
.tesla-salaries {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin-top: 1vh;
  /* box-shadow: 4px 4px 5px rgb(0, 0, 0); */
  box-shadow: 2px 2px 5px rgb(0, 0, 0);

}

/* PAGE */
.tesla-salaries .salary-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* box-shadow: 4px 4px 5px rgb(0, 0, 0); */
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* HEADER */
.tesla-salaries header {
  text-align: center;
  margin-bottom: 30px;
}

.tesla-salaries header h1 {
/* font-size: 2.5rem; */
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #111;
}

/* PAY TYPE SELECTOR */
.tesla-salaries .pay-type-selector {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tesla-salaries .pay-type-selector label {
  font-weight: bold;
  cursor: pointer;
  font-family:'Times New Roman', Times, serif;
}

/* JOB LIST */
.tesla-salaries .job-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  /* box-shadow: 2px 2px 5px rgb(0, 0, 0); */
}

/* JOB CARD */
.tesla-salaries .job-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.tesla-salaries .job-card:hover {
  transform: translateY(-5px);
}

.tesla-salaries .job-card h2 {
  margin-bottom: 10px;
  color: #889db8;
  /* color: black; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tesla-salaries .job-card .description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: solid;
  text-decoration: underline;
}

.tesla-salaries .job-card .salary {
  /* font-size: 1.2rem; */
  font-weight: bold;
  color: #111;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
